@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("./fonts.css");

/* 숨김 컨텐츠 */

.readable-hidden,
legend {
  background-color: red;
  /* display: none; 했을때에는 키가 포커싱 못함 -> 기껏 써놓은 의미를 잃음
  다른 방법으로 숨기기 (트릭) */
  /* 현재 상위요소 중  relative는 header */
  position: absolute;
  left: -9999em;
  /* ie 6 버전일 경우, 더 추가해야함
  font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px; */
}


/* 본문 스타일 */

html {
  font-size: 10px;
}

body {
  color: #181818;
  font-size: 1.4rem;
  font-family: "Noto Sans Regular", sans-serif;
  background-color: #fff;
}


/* 링크 스타일 */

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f00;
}


/* 기본 box-sizing 재설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  background: url("images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #aaa 0%, #fff 50%, #fff 100%);
  background-color: #aaa;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}


/* 헤더 */

.header {
  background-color: #fff;
  padding: 0 30px 30px;
  position: relative;
  border-radius: 0 0 25px 25px;
  /* height: 110px; */
}


/* 로고 */

.logo {
  position: absolute;
  top: 45px;
  left: 65px;
}


/* 안내링크 */

.info-menu {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  position: relative;
  right: -10px;
}

.info-menu li::after {
  content: ":";
}

.info-menu li:last-child::after {
  content: "";
}

.info-menu a {
  display: inline-block;
  padding: 8px 10px;
}


/* 메인 메뉴 */

.main-menu {
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  background: #f98f0c linear-gradient(to bottom, #ffc578 0%, #f98f0c 35%, #f98f0c 70%, #ffc578 100%);
  height: 47px;
  left: 255px;
  /* box-sizing 때문에 border 2px포함한 47px */
  padding-left: 225px;
}

.main-menu>li {
  float: left;
  position: relative;
}

.main-menu span {
  display: block;
  cursor: pointer;
  color: #fff;
  font: 1.6rem/45px "Noto Sans Bold", sans-serif;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  padding: 0 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.main-menu span:hover,
.main-menu span:focus {
  color: #ff0;
  outline: 0;
}


/* 메인메뉴 글씨 하단에만 보더선이 나오게 하도록! 가상요소 추가, 하단으로 내리기위해 블록 */

.main-menu span:hover::after,
.main-menu span:focus::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  font-size: 0;
  white-space: nowrap;
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
  font-size: 1.4rem;
}

.sub-menu a {
  padding: 5px 10px 5px 0;
  margin-right: 5px;
}

.sub-menu a::before {
  content: '\e800';
  font-family: "fontello";
  margin-right: 5px;
}

.sub-menu a:hover::before {
  content: '\e802';
}

.about-html {
  display: none;
}

.about-css {
  display: none;
}

.web-standards {
  display: none;
}

.web-accessibility {
  display: none;
  right: 0;
}

.qna {
  display: none;
  right: 0;
}

.archive {
  display: none;
  right: 0;
}

.sub-menu-active {
  display: block !important;
}


/* 비주얼 */

@keyframes text-ani {
  0% {
    font-size: 12px;
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    opacity: 1;
    transform: translate(400px, 75px);
  }
}

@keyframes bg-flower {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
  animation: bg-flower 3s 2s infinite;
}

.visual::after {
  background: url("images/ani_flower_03.png") no-repeat 300px 0, url("images/ani_flower_04.png") no-repeat 800px 0;
  animation: bg-flower 3s infinite;
}

.visual-text {
  animation: text-ani 1s forwards;
  animation-timing-function: cubic-bezier(.17, .67, 1, .16);
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 500px;
  ;
}


/* 메인 컨텐츠 */

.main-content {
  min-height: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
}


/* .main-content::after {
  content: "";
  background-color: yellow;
  display: block;
  clear: both;
} */

.group {
  /* margin: 0 15px; */
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}


/* 로그인 */

.login {
  background: radial-gradient(circle at right top, #ffc578, #f98f0c);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}

.login-heading {
  color: #ff0;
  margin: 0 0 10px 10px;
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
}

.login-form {
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px;
}


/* 라벨과 인풋의 높이차가 생겨 보이는 여백을 삭제하기 위해 font-size:0으로 입력 */

.user-email,
.user-pw {
  margin-bottom: 4px;
  font-size: 0;
}

.login-form label,
.login-form input,
.btn-login {
  font-size: 1.4rem;
}

.login-form label {
  width: 4em;
  /* vertical-align: middle; */
  display: inline-block;
  cursor: pointer;
}

.login-form input {
  width: 98px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 0 0 0 5px;
}

.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 5px;
  border: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #f00;
  border-radius: 3px;
}

.member {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  /* display: flex;
  justify-content: space-between; */
  /* 플렉스를 사용해서 만드는 방법 */
}

.member::after {
  content: "";
  display: block;
  clear: both;
}

.member li {
  letter-spacing: -1px;
}

.member li:nth-child(1) {
  float: left;
}

.member li:nth-child(2) {
  float: right;
}

.member a {
  padding: 5px 0;
}

.member a::before {
  content: "g";
  font-family: "webcafeIcon";
  color: #f00;
  position: relative;
  top: 2px;
}


/* 유효성 검사 배너 링크 */

.validation {
  margin-top: 20px;
}

.validation-list li {
  margin-bottom: 10px;
}

.validation-list a {
  padding: 5px;
  display: block;
  padding: 5px 10px 5px 45px;
  background: url("images/validation_icon.png") no-repeat 20px, linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 20px;
}


/* 웹관련 용어 */

.term {
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
}

.term-heading {
  font-family: "Noto Sans Bold";
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.term-list {
  margin-bottom: 10px;
}

.term-list::after {
  content: "";
  clear: both;
  display: table;
}

.term-list-heading,
.term-list-brief {
  float: right;
  width: 145px;
  margin-top: 10px;
}

.term-list-heading {
  color: #296897;
  font-weight: bold;
}

.term-list-thumb {
  background: pink;
  float: left;
  margin-top: 15px;
}

.term-list-thumb img {
  display: block;
}

.term-list dt:nth-child(6n+4),
.term-list dd:nth-child(6n+6) {
  float: left;
}

.term-list dd:nth-child(6n+5) {
  float: right;
}


/* 검색 폼 */

.search {
  background: linear-gradient(to bottom, #eee, #fff);
  border-radius: 10px 10px 0 0;
  border: 1px solid #aaa;
  padding: 20px 25px 10px;
  border-bottom: #fff;
}

.for-flex {
  display: flex;
  justify-content: space-between;
}

.search-form label,
.search-from input,
.search-form button {
  vertical-align: middle;
}

.search label::before {
  content: "z";
  font-family: "WebcafeIcon";
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.search-form input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 0 0 5px;
  height: 22px;
  width: 190px;
}

.btn-search {
  padding: 1px 10px;
  height: 22px;
  background: linear-gradient(to bottom, #222, #666);
  border-radius: 3px;
  border: 1px solid #aaa;
  color: #fff;
  font-size: 1.2rem;
}


/* 공지사항 및 자료실 */

.board {
  margin-top: 20px;
  position: relative;
}

.board ul,
.notice-more,
.pds-more {
  display: none;
}

.board-active ul,
.board-active>a {
  display: block !important;
}

.icon-more::before {
  content: "p";
  font-family: "WebcafeIcon";
  color: lime;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.notice-more,
.pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.notice-heading,
.pds-heading {
  /* 탭을 플로트로 배치했을 경우 */
  /* float: left; */
  position: absolute;
  top: 0;
  padding: 5px 15px;
  cursor: pointer;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  color: #666;
}

.notice-heading {
  left: 0;
}

.pds-heading {
  left: 84px;
}

.notice-list,
.pds-list {
  /* 목록을 레이어로 배치했을 경우 */
  /* position: absolute;
  top: 45px;
  width: 100%; */
  padding-top: 45px;
  min-height: 180px;
}


/* 액티브 값은, !important 해주는 것이 유지 보수 시 좋음 */

.board-active h2 {
  background: #fff !important;
  color: #f00 !important;
  border: 1px solid #f00 !important;
  border-bottom: 1px solid #fff !important;
}

.notice-list a,
.pds-list a {
  display: inline-block;
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board li {
  margin: 5px 0;
}

.board li::before {
  content: "r";
  font-family: "WebcafeIcon";
}

.notice-list time,
.pds-list time {
  float: right;
}


/* 뉴스 */

.news {
  margin-top: 20px;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  height: 1px;
  width: 80%;
  background: linear-gradient(to right, #666, #eee);
}

.news-heading {
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  color: #f00;
}

.news a:nth-child(2) {
  display: block;
  margin-top: 30px;
}

.news-item {
  margin-top: 15px;
  padding-left: 145px;
  position: relative;
}

.news-item-brief {
  line-height: 1.5;
  text-align: justify;
}

.news-item-thumb {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.news-item-thumb img {
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, .5);
  margin-bottom: 10px;
}

.news-item-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: -1em;
  position: relative;
  top: -5px;
}

.news-item-heading::before {
  content: "r";
  font-family: "WebcafeIcon";
  position: relative;
  top: 2px;
}

.news-more {
  position: absolute;
  padding: 8px;
  top: -8px;
  right: -8px;
}


/* 신규 이벤트 및 관련 사이트 */

.event-related {
  background: linear-gradient(to bottom, #eee, #ccc);
  border-radius: 5px;
  border: 1px solid #aaa;
}

.event {
  position: relative;
}

.event-heading {
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  padding: 10px;
}

.event-heading span {
  color: #f00;
}

.btn-event {
  background: pink;
  height: 18px;
}

.btn-event-prev,
.btn-event-next {
  width: 19px;
  height: 100%;
  padding: 18px 0 0 0;
  background: url("images/back_forward.png") no-repeat;
  overflow: hidden;
}


/* 슬로건 */

.slogan {
  background-color: lime;
}


/* 풋터 */

.footer {
  background-color: skyblue;
}